-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: checkin_local
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `event_id` bigint(20) unsigned DEFAULT NULL,
  `action` varchar(150) NOT NULL,
  `entity_type` varchar(100) DEFAULT NULL,
  `entity_id` bigint(20) unsigned DEFAULT NULL,
  `description` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_logs_user_id` (`user_id`),
  KEY `idx_logs_event_id` (`event_id`),
  KEY `idx_logs_action` (`action`),
  KEY `idx_logs_entity` (`entity_type`,`entity_id`),
  KEY `idx_logs_created_at` (`created_at`),
  CONSTRAINT `fk_logs_event` FOREIGN KEY (`event_id`) REFERENCES `events` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_logs_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checkin_rate_limits`
--

DROP TABLE IF EXISTS `checkin_rate_limits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `checkin_rate_limits` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `event_id` bigint(20) unsigned NOT NULL,
  `identifier` varchar(191) NOT NULL,
  `request_count` int(10) unsigned NOT NULL DEFAULT 1,
  `window_started_at` datetime NOT NULL DEFAULT current_timestamp(),
  `last_request_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_rate_limit_event_identifier` (`event_id`,`identifier`),
  KEY `idx_rate_limit_last_request` (`last_request_at`),
  CONSTRAINT `fk_rate_limit_event` FOREIGN KEY (`event_id`) REFERENCES `events` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checkin_rate_limits`
--

LOCK TABLES `checkin_rate_limits` WRITE;
/*!40000 ALTER TABLE `checkin_rate_limits` DISABLE KEYS */;
/*!40000 ALTER TABLE `checkin_rate_limits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checkins`
--

DROP TABLE IF EXISTS `checkins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `checkins` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `event_id` bigint(20) unsigned NOT NULL,
  `guest_id` bigint(20) unsigned DEFAULT NULL,
  `table_id` bigint(20) unsigned DEFAULT NULL,
  `lucky_draw_code` varchar(50) DEFAULT NULL,
  `full_name_entered` varchar(150) NOT NULL,
  `phone_entered` varchar(30) NOT NULL,
  `normalized_phone` varchar(20) NOT NULL,
  `address_entered` varchar(500) DEFAULT NULL,
  `people_count` int(10) unsigned NOT NULL DEFAULT 1,
  `match_status` enum('matched','walk_in','pending_verification','approved','rejected') NOT NULL DEFAULT 'pending_verification',
  `checkin_time` datetime NOT NULL DEFAULT current_timestamp(),
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` varchar(500) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `reviewed_by` bigint(20) unsigned DEFAULT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_checkins_event_phone` (`event_id`,`normalized_phone`),
  KEY `idx_checkins_event_id` (`event_id`),
  KEY `idx_checkins_guest_id` (`guest_id`),
  KEY `idx_checkins_table_id` (`table_id`),
  KEY `idx_checkins_phone` (`normalized_phone`),
  KEY `idx_checkins_match_status` (`match_status`),
  KEY `idx_checkins_time` (`checkin_time`),
  KEY `idx_checkins_reviewed_by` (`reviewed_by`),
  CONSTRAINT `fk_checkins_event` FOREIGN KEY (`event_id`) REFERENCES `events` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_checkins_guest` FOREIGN KEY (`guest_id`) REFERENCES `guests` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_checkins_reviewer` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_checkins_table` FOREIGN KEY (`table_id`) REFERENCES `event_tables` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checkins`
--

LOCK TABLES `checkins` WRITE;
/*!40000 ALTER TABLE `checkins` DISABLE KEYS */;
/*!40000 ALTER TABLE `checkins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_tables`
--

DROP TABLE IF EXISTS `event_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `event_tables` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `event_id` bigint(20) unsigned NOT NULL,
  `table_name` varchar(150) NOT NULL,
  `table_code` varchar(100) NOT NULL,
  `capacity` int(10) unsigned NOT NULL DEFAULT 10,
  `location` varchar(255) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `status` enum('active','inactive','full') NOT NULL DEFAULT 'active',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_event_table_code` (`event_id`,`table_code`),
  KEY `idx_event_tables_event_id` (`event_id`),
  KEY `idx_event_tables_status` (`status`),
  CONSTRAINT `fk_event_tables_event` FOREIGN KEY (`event_id`) REFERENCES `events` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_tables`
--

LOCK TABLES `event_tables` WRITE;
/*!40000 ALTER TABLE `event_tables` DISABLE KEYS */;
INSERT INTO `event_tables` VALUES (1,1,'B├án 01','BAN-01',10,'Khu vß╗▒c A',NULL,'active','2026-07-27 09:16:16','2026-07-27 09:16:16'),(2,1,'B├án 02','BAN-02',10,'Khu vß╗▒c A',NULL,'active','2026-07-27 09:16:16','2026-07-27 09:16:16'),(3,1,'B├án 03','BAN-03',10,'Khu vß╗▒c B',NULL,'active','2026-07-27 09:16:16','2026-07-27 09:16:16'),(4,1,'B├án 04','BAN-04',10,'Khu vß╗▒c B',NULL,'active','2026-07-27 09:16:16','2026-07-27 09:16:16'),(5,1,'B├án VIP','BAN-VIP',8,'Ph├¡a tr╞░ß╗¢c s├ón khß║Ñu',NULL,'active','2026-07-27 09:16:16','2026-07-27 09:16:16');
/*!40000 ALTER TABLE `event_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `events`
--

DROP TABLE IF EXISTS `events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `events` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `event_name` varchar(255) NOT NULL,
  `event_code` varchar(100) NOT NULL,
  `slug` varchar(150) NOT NULL,
  `event_date` date NOT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `logo_path` varchar(500) DEFAULT NULL,
  `status` enum('draft','active','closed','cancelled') NOT NULL DEFAULT 'draft',
  `checkin_enabled` tinyint(1) NOT NULL DEFAULT 0,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_events_code` (`event_code`),
  UNIQUE KEY `uq_events_slug` (`slug`),
  KEY `idx_events_date` (`event_date`),
  KEY `idx_events_status` (`status`),
  KEY `idx_events_created_by` (`created_by`),
  CONSTRAINT `fk_events_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `events`
--

LOCK TABLES `events` WRITE;
/*!40000 ALTER TABLE `events` DISABLE KEYS */;
INSERT INTO `events` VALUES (1,'Hß╗Öi nghß╗ï nh├á ph├ón phß╗æi V─⌐nh Ph├║','HV-HOINGHIVINHPHU-2026','hoiinghivinhphu-hoa-vinh-2026','2026-08-02','07:30:00','12:00:00','Hß╗Öi tr╞░ß╗¥ng C├┤ng ty H├▓a Vinh','Sß╗▒ kiß╗çn mß║½u phß╗Ñc vß╗Ñ kiß╗âm tra hß╗ç thß╗æng CheckinQR.',NULL,'active',1,NULL,'2026-07-27 09:16:16','2026-07-27 09:54:46',NULL);
/*!40000 ALTER TABLE `events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guests`
--

DROP TABLE IF EXISTS `guests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `guests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `event_id` bigint(20) unsigned NOT NULL,
  `full_name` varchar(150) NOT NULL,
  `phone` varchar(30) NOT NULL,
  `normalized_phone` varchar(20) NOT NULL,
  `address` varchar(500) DEFAULT NULL,
  `guest_group` varchar(150) DEFAULT NULL,
  `organization` varchar(255) DEFAULT NULL,
  `expected_people` int(10) unsigned NOT NULL DEFAULT 1,
  `table_id` bigint(20) unsigned DEFAULT NULL,
  `lucky_draw_code` varchar(50) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `status` enum('invited','checked_in','cancelled','absent') NOT NULL DEFAULT 'invited',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_guests_event_phone` (`event_id`,`normalized_phone`),
  KEY `idx_guests_event_id` (`event_id`),
  KEY `idx_guests_normalized_phone` (`normalized_phone`),
  KEY `idx_guests_full_name` (`full_name`),
  KEY `idx_guests_group` (`guest_group`),
  KEY `idx_guests_table_id` (`table_id`),
  KEY `idx_guests_status` (`status`),
  CONSTRAINT `fk_guests_event` FOREIGN KEY (`event_id`) REFERENCES `events` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_guests_table` FOREIGN KEY (`table_id`) REFERENCES `event_tables` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guests`
--

LOCK TABLES `guests` WRITE;
/*!40000 ALTER TABLE `guests` DISABLE KEYS */;
INSERT INTO `guests` VALUES (7,1,'A','0912345678','0912345678',NULL,NULL,NULL,1,2,NULL,NULL,'invited','2026-07-27 09:58:58','2026-07-27 10:03:31'),(8,1,'Nguyß╗àn Viß╗çt H├╣ng','0981748805','0981748805',NULL,NULL,NULL,1,2,NULL,NULL,'invited','2026-07-27 10:00:53','2026-07-27 10:03:33');
/*!40000 ALTER TABLE `guests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `full_name` varchar(150) NOT NULL,
  `role` enum('super_admin','admin','staff') NOT NULL DEFAULT 'admin',
  `status` enum('active','inactive','locked') NOT NULL DEFAULT 'active',
  `last_login_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_users_username` (`username`),
  KEY `idx_users_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','123456','Qu???n tr??? vi??n','admin','active','2026-07-27 09:48:55','2026-07-27 09:22:01','2026-07-27 09:48:55'),(2,'staff1','123456','Nh├ön vi├¢n 1','staff','active','2026-07-27 09:48:47','2026-07-27 09:44:19','2026-07-27 09:48:47');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-27 10:10:20
